<!-- job_edit.ejs -->



<div class="container mt-4 col-md-6">
  <h4>Edit Job Post</h4>

  <form class="row g-3 mt-2" action="/job/<%= job._id %>/update" method="POST">

    <div class="col-12">
      <label for="title" class="form-label">Job Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%= job.title %>"
        required
      />
    </div>

    <div class="col-12">
      <label for="company" class="form-label">Company</label>
      <input
        type="text"
        class="form-control"
        id="company"
        name="company"
        value="<%= job.company %>"
        required
      />
    </div>

    <div class="col-12">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        name="location"
        value="<%= job.location %>"
        required
      />
    </div>

    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="5"
        required
      ><%= job.description %></textarea>
    </div>

    <div class="col-12">
      <label for="requirements" class="form-label">Requirements</label>
      <textarea
        class="form-control"
        id="requirements"
        name="requirements"
        rows="5"
        required
      ><%= job.requirements %></textarea>
    </div>

    <div class="col-12">
      <label for="contact" class="form-label">Contact</label>
      <input
        type="text"
        class="form-control"
        id="contact"
        name="contact"
        value="<%= job.contact %>"
        required
      />
    </div>

    <div class="col-12">
      <label for="deadline" class="form-label">Deadline</label>
      <input
        type="date"
        class="form-control"
        id="deadline"
        name="deadline"
        value="<%= job.deadline %>"
        required
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update Job</button>
    </div>

  </form>
</div>


