<header>
  <nav class="navbar navbar-expand-lg" style="background-color: wheat">
    <div class="container-fluid">
      <a class="navbar-brand h1" href="#">
        <i class="fas fa-laptop-code"></i> Placement Cell
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-around"
        id="navbarSupportedContent"
      >
          <ul class="nav text-purple">
            <li class="nav-item mx-2">
              <a class="nav-link text-purple" href="/student_dashboard/<%= student.email %>">Dashboard</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/student-profile">Profile</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/student-interview">My Interview</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/job-portal">Job Portal</a>
            </li>
          </ul>
        <h1> STUDENT DASHBOARD</h1>
          
        </div>
        
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col">
        <% if (student) { %>
        <h3>Welcome, <%= student.name %></h3>
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= student.name %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= student.email %></td>
            </tr>
            <tr>
              <td>College</td>
              <td><%= student.college %></td>
            </tr>
            <tr>
              <td>Batch</td>
              <td><%= student.batch %></td>
            </tr>
            <tr>
              <td>Status</td>
              <td><%= student.placement_status %></td>
            </tr>
            <tr>
              <td>DSA score</td>
              <td><%= student.dsa_score %></td>
            </tr>
            <tr>
              <td>Web development score</td>
              <td><%= student.webdev_score %></td>
            </tr>
            <tr>
              <td>React score</td>
              <td><%= student.react_score %></td>
            </tr>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
  </div>
  
  